canvas {
  border: 2px solid black;
  display: block;
  margin: 0 auto;
  background-color: #85f9ff;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.repeat-bounce {
  width: 100px;
  height: 100px;

  background-color: #3498db;
  animation: bounce 2s ease-in-out infinite;
}

.button-container {
  width: 250px;
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  gap: 10px; /* Space between buttons */
  margin-right: 20px; /* Space between buttons and canvas */
  margin-top: -335px; /* This moves the buttons slightly up */
}

.button-container {
  top: 100px;
}

.button-container button {
  padding: 10px 20px;
  top: 100px;
}

.validbtn {
  background-color: #11f319; /* Green */
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.invalidbtn {
  background-color: #6d6d6d;
  border: none;
  color: rgb(155, 155, 155);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    /* transform: scale(1); */
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    /* transform: scale(2); */
  }
}

#spin-cycle {
  position: absolute;
  top: 210px;
  left: 90px;
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.validbtn:hover {
  background-color: #cbf414; /* Darker green on hover */
  font-weight: bold;
}

.startButton:hover {
  background-color: #cbf414; /* Darker orange on hover */
  font-weight: bold;
}
