@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.repeat-bounce {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  animation: bounce 2s ease-in-out infinite;
}


.spin-recycle {
  animation: spin 2s linear infinite;
}